.Wrapper {
  margin-top: 165px;
  display: flex;
  justify-content: space-between;
}

h2 {
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  letter-spacing: 0.05em;
}

p.Date {
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.05em;
}

.Logo {
  margin-top: 35px;
}

.CurrentCityText {
  margin-top: 16px;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
}

.CurrentTempNoText {
  font-weight: bold;
  font-size: 144px;
  line-height: 169px;
  letter-spacing: 0.05em;
  text-align: end;
}

.HighLowDegreesWrapper {
  text-align: right;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.05em;
  margin: 12px 0 22px 0;
}

.StatusText {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.High {
  padding-right: 6px;
}

.Low {
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.75);
}
