.Wrapper {
  margin-top: 165px;
  display: flex;
  justify-content: space-between;
}

h2 {
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  letter-spacing: 0.05em;
}

p.Date {
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.05em;
}

.Logo {
  margin-top: 35px;
  width: 90px;
}

.CurrentCityText {
  margin-top: 16px;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
}

.Right {
  text-align: right;
}

.CurrentTempNoText {
  font-weight: bold;
  font-size: 144px;
  line-height: 169px;
  letter-spacing: 0.05em;
}

.HighLowDegreesWrapper {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.05em;
  margin: 12px 0 22px 0;
}

.StatusText {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}

.High {
  padding-right: 6px;
}

.Low {
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.75);
}

@media (max-width: 950px) {
  .Wrapper {
    margin-top: 4rem;
    flex-direction: column;
  }
  h2 {
    font-size: 50px;
    line-height: 45px;
  }
  p.Date {
    margin-top: 20px;
    font-size: 18px;
    line-height: 18px;
  }
  .Logo {
    width: 80px;
  }
  .CurrentCityText {
    font-size: 28px;
  }
  .Right,
  .Left {
    text-align: center;
  }
  .CurrentTempNoText {
    font-size: 105px;
    line-height: 120px;
  }
  .HighLowDegreesWrapper {
    font-size: 39px;
    line-height: 45px;
    margin: 0 0 18px 0;
  }
  .StatusText {
    font-size: 22px;
    line-height: 24px;
  }
}
