body {
  font-family: 'Work Sans', sans-serif;
}
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
sup,
footer,
header,
hgroup,
section {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}
